{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
{% set wrapper_attributes = create_attribute() %}
<div{{ attributes.addClass(classes) }}>
  <div{{ wrapper_attributes.addClass('block-wrapper') }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}
      <div{{ content_attributes.addClass('block-content') }}>
        {{ content }}
      </div>
    {% endblock %}
  </div>
</div>