///////////////////////
// MAINTENANCE PAGE //
/////////////////////

.maintenance-page {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 1.3em;

  .dialog-off-canvas-main-canvas {
    justify-content: center;
  }

  header,
  h1 {
    display: none;
  }
  .h1 {
    color: inherit;
  }

  #block-nogevengeduld img {
    width: 315px;
    max-width: 315px;
  }
  .align-items-center {
    > div {
      padding: 10px 20px;
    }
  }
  .btn {
    color: white;
    position: relative;

    a {
      display: block;
      border-radius: 18px;
      color: white;
      text-decoration: none;
    }
    &:hover {
      color: $color--primary !important;
    }
  }

  @media (min-width: 768px) {
    .flex {
      display: -webkit-flex;
      display: flex;
    }
    .align-items-center {
      align-items: center !important;
    }
  }
}

#main {
  width: 100%;
  min-width: 315px;
  margin: 0 auto;
  max-width: 600px;
  display: block;

  &-container {
    width: 90%;
    display: block;
    max-width: 400px;
  }
}
