.breadcrumbs {
  @include container();

  ol {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    li {
      list-style: none;

      &:before {
        content: 'east';
        @extend .material-icons;
        font-size: 1.2rem;
        color: $color--primary;
        margin: 0 10px;
      }

      &:first-child:before {
        display: none;
      }

      a {
        color: $color--primary;
      }
    }
  }
}
