.copyrights {
  border-top: 1px solid $color--grey;
  padding: 30px 0;
  margin: 30px 0;

  .field__item {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }

    a {
      color: white;
    }
  }
}
