footer {
  margin-top: 100px;
  background-color: black;
  color: white;

  > div {
    @include container();
  }
}

.footer {
  padding: 60px 0;

  > div {
    @include flex(space-between);

    > div {
      width: 100%;

      @include bp(768px) {
        max-width: calc((100% / 4) - 20px);
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.footer {
  > div > div {
    @include bp(768px) {
      &:first-child {
        max-width: 40%;
      }
    }
  }
}
