.user-login-form {
  @include container();
  @include mt(2rem);

  input[type='text'],
  input[type='mail'],
  input[type='password'],
  textarea {
    // width: 85%;

    @include bp($menu_breakpoint) {
      width: calc(100% - 15px);
    }
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $color--primary;
    //border-radius: 5px;
  }

  input[type='submit'] {
    @extend .btn;
    margin-top: 40px;
    font-size: 1.6rem;
  }
}

/* rest van forms moet hier ook nog komen van uit contact*/
