.navigation-wrapper {
  @include container();
  @include flex(space-between, center);

  /* LOGO */
  .site-logo {
    img {
      width: 100%;
      max-width: 180px;
    }
  }

  /* MOBILE MENU */
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;

    @media (min-width: 768px) {
      display: none;
    }

    .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;

      &:before,
      &:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 5px;
      }
      &:after {
        top: -5px;
      }
    }
  }
  .menu-btn {
    display: none;

    /* &:checked ~ .navigation > div {
      max-height: 1000vh;
    } */
    &:checked ~ .menu-icon .navicon {
      background: transparent;
    }

    &:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    &:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    &:checked ~ .menu-icon:not(.steps) .navicon:before,
    &:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }

  /* NAVIGATION */
  .navigation {
    display: none;
    width: 100%;
    @media (min-width: 768px) {
      flex: 1;
      display: block !important;
    }

    > div {
      max-height: none;

      @media (max-width: 767px) {
        /* overflow: hidden;
        max-height: 0;
        transition: max-height 0.8s linear;*/
      }
    }

    .nav {
      //@include bp(768px) {
      @media (min-width: 768px) {
        @include flex(flex-end);
      }
    }
  }
}

/********************
*   DROPDOWN MENU
*********************/
.dropdown-menu {
  display: block;

  @media (min-width: 768px) {
    opacity: 0;
    height: 0;
    pointer-events: none;

    &:after {
      content: '';
      @include overlay(5px, 0, 0, 0, -1);

      background: $color--primary;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }

    // Hover-effect
    .menu-item:hover > & {
      opacity: 1;
      pointer-events: auto;
      display: block !important;
      height: auto !important;
      overflow: visible !important;
    }
  }
}

.expanded {
  @media (min-width: 768px) {
    padding-right: 20px !important;
  }
}

.dropdown-toggle {
  .expand {
    position: absolute;
    top: 20%;
    right: 15px;

    @media (min-width: 768px) {
      font-size: 1rem;
      right: 0px;
      top: 40%;
    }

    @media (min-width: 768px) {
      right: -20px;
    }
  }
}

/********************
*   MENU LEVELS
*********************/
ul.menu-level-0 {
  padding: 0;
  > .menu-item {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    list-style: none;

    @media (min-width: 768px) {
      position: relative;

      &:last-child > a {
        padding-right: 0;
      }
    }

    &.menu-item--expanded {
      > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    > a {
      text-decoration: none;
      border-top: 1px solid #f5f5f5;
      padding: 10px 15px;
      position: relative;
      display: block;
      color: black;

      @media (min-width: 768px) {
        display: inline;
        font-size: 1.6rem;
        padding: 20px 0;
        border-top: none;
        background-color: transparent;

        border-bottom: 1px solid transparent;
        margin: 0 15px;
      }
    }
    > a:hover,
    > a:focus,
    > a:active,
    > a.is-active,
    &.active > a {
      text-decoration: none;
      color: black;
      border-top: 1px solid #f5f5f5;

      @media (min-width: 768px) {
        border-top: none;
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }
}

/*** LEVEL 1 ***/

.menu-level-1 {
  @include animate;
  overflow: hidden;
  padding: 0;

  @media (min-width: 768px) {
    @include absolute(45px, auto, auto, 0, 88);
    width: 200px;
    padding: 0;
  }

  > .menu-item {
    clear: both;
    display: block !important;
    background-color: white;
    border-top: 1px solid white;
    padding: 0 !important;

    &:first-child {
      border-top: none;
    }

    > a {
      color: black;
      display: block;
      padding: 10px 10px 10px 30px;
    }

    &:hover > a,
    > a:focus,
    > a:active,
    &.active > a,
    > a.is-active {
      background-color: white;
      color: black;
    }
  }
}

/*** LEVEL 2 ***/

.menu-level-2 {
  left: 0;
  top: 0px;
  opacity: 1;
  display: block;
  margin-top: 0px;
  box-shadow: none;
  padding-left: 8px;
  position: relative;
  height: auto !important;
  overflow: visible !important;

  .dropdown-menu {
    left: 100%;
    width: 120px;
    position: absolute;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    display: block;
    opacity: 0;
    margin-top: -10px;
  }
  > .menu-item {
    > a {
      padding-left: 45px;
    }
    &:hover > .dropdown-menu {
      opacity: 1;
      margin-top: 0;
      display: block !important;
    }
    &.active > a {
      color: white;
      background-color: black;
    }
  }
}

/********************
*   MOBILE MENU
*********************/

/*.navbar-default {
  .navbar-nav {
    float: none;
    vertical-align: top;
    margin: 0;
    text-align: center;
    margin-bottom: 0;

    li {
      padding: 0;
      text-align: left;

      &.first {
        padding-left: 0;
        margin-top: 0;
      }
    }
  }
}*/

/*
.navbar-toggle {
  border-radius: 0;
  border: none;
  color: black;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  padding: 12px 8px;
  z-index: 1;
  //@include absolute(15px, 10px);

  @include bp($menu_breakpoint) {
    display: none;
  }

  &:hover {
    background-color: transparent;

    .icon-bar {
      background-color: black;
    }
  }
  &:focus {
    background-color: transparent;
  }
  &.collapsed .icon-bar {
    &:nth-child(2) {
      transform: rotate(45deg) translate(4.5px, 4px);
      transform-origin: 50% 50%;
    }
    &:nth-child(3) {
      opacity: 0;
    }
    &:nth-child(4) {
      transform: rotate(-45deg) translate(4.5px, -4px);
      transform-origin: 50% 50%;
    }
  }
}
*/
