.wp-block-example-example-block {
  display: flex;
  flex-direction: row;

  .column {
    flex: 1;
  }

  .icon {
    text-align: center;

    svg {
      width: 120px;
      height: 120px;
    }
  }
}

.wp-block-example-dynamic-block {
  background-color: #0f0;
  border: 2px solid #f00;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.wp-block-creablocks-creathing-billboard {
  .billboard-content {
    padding: 1em 2em;
    width: 50%;
    max-width: 50%;
  }
  &.align-content-left .billboard-content {
    margin-right: auto;
  }
  &.align-content-center .billboard-content {
    margin-left: auto;
    margin-right: auto;
  }
  &.align-content-right .billboard-content {
    margin-left: auto;
  }
}

.has-black-background-color {
  background-color: #000000;
  * {
    color: white;
  }
}
.has-pink-background-color {
  background-color: #ff5454;
  * {
    color: white;
  }
}
.has-purple-background-color {
  background-color: #522db2;
  * {
    color: white;
  }
}
.has-green-background-color {
  background-color: #3dbb3a;
  * {
    color: white;
  }
}
