{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
<div id="main-container">
  <header role="banner">
    <h1 id="logo">
      {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      {% endif %}

      {% if site_name %}
        <a id="site-name" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      {% endif %}
    </h1>
  </header>

    <main role="main" id="main">
      <div id="main-content"></div>

    <div id="block-nogevengeduld">
      {% if logo %}
        <div class="brand" id="site-logo">
          <img src="{{ logo }}" alt="{{ site_name }}"/>
        </div>
      {% endif %}

      <div>
        <div class="h1">{{ 'Een beetje geduld...'|t }}</div>
        {{ page.content }}
        <p>&nbsp;</p>
        <p><span class="btn"><a href="mailto:{{ site_mail }}">{{ 'Contact us'|t }}</a></span></p>
      </div>
    </div>
  </main>
</div>
