<section class="layout-container">

  {% if page.top_bar %}
    {% block top_bar %}
      <div class="top-bar">
        {{ page.top_bar }}
      </div>
    {% endblock %}
  {% endif %}

  <header>
    <div class="navigation-wrapper">
      {% if page.logo %}
        <div class="site-logo">
          {{ page.logo }}
        </div>
      {% endif %}

      <div class="menu-toggle" id="menu-toggle">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      </div>

      {% if page.navigation %}
        <div class="navigation">
            {{ page.navigation }}
        </div>
      {% endif %}
    </div>
    {% if page.header %}
      <div class="header">
        {{ page.header }}
      </div>
    {% endif %}
  </header>

  {% if page.breadcrumbs %}
    {% block breadcrumbs %}
      <div class="breadcrumbs">
        {{ page.breadcrumbs }}
      </div>
    {% endblock %}
  {% endif %}


  {% if page.highlighted %}
    {% block highlighted %}
      <div class="highlighted">{{ page.highlighted }}</div>
    {% endblock %}
  {% endif %}

  <main>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>

  </main>
</section>

<footer>
  {% if page.footer %}
    <div class="footer">
      {{ page.footer }}
    </div>
  {% endif %}
  {% if page.copyrights %}
    <div class="copyrights-container">
      {{ page.copyrights }}
    </div>
  {% endif %}
</footer>


