{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @ingroup templates
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}
{% if primary %}
  <nav class="tabs--primary nav nav-tabs">
    <ul>{{ primary }}</ul>
  </nav>
{% endif %}
{% if secondary %}
  <nav class="tabs--secondary pagination pagination-sm">
    <ul>{{ secondary }}</ul>
  </nav>
{% endif %}
