/**
  * Set default typography styles
  */

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: $font;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: $font-size;
  line-height: 1.7;
}
/* Copy & Lists */
@mixin paragraph() {
  line-height: 1.75;
}
p {
  @include paragraph();
  margin-top: 1.75rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
ul li,
ol li {
  @include paragraph();
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  @include paragraph();
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
/* Headings */
@mixin heading() {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.75;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading();
}
@mixin h1() {
  font-size: 3rem;
  line-height: 3.5rem;

  @include bp($menu_breakpoint) {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}
h1 {
  @include h1();
}
@mixin h2() {
  font-size: 2.5rem;
  line-height: 3rem;

  @include bp($menu_breakpoint) {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
h2 {
  @include h2();
}
@mixin h3() {
  font-size: 3rem;
  font-weight: 400;
}
h3 {
  @include h3();
}
@mixin h4() {
  font-size: 2.5rem;
  font-weight: 400;
}
h4 {
  @include h4();
}
@mixin h5() {
  font-size: 2rem;
  font-weight: 400;
}
h5 {
  @include h5();
}
@mixin h6() {
  font-size: 1.6rem;
  font-weight: 500;
}
h6 {
  @include h6();
}
/* not first child */
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 1em;
}
/* Tables */
table {
  margin-top: 1.75rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  @include paragraph();
  padding: 0;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
