.contact-message-contact-form,
#block-webform-2 {
  margin: 5rem 0;
  .block-title {
    text-transform: uppercase;
    margin-bottom: 5rem;
  }
}

#contact-message-contact-form,
.webform-submission-form {
  .form-item {
    width: 100%;
    padding-right: 40px;
    label {
      display: block;
      margin-bottom: 10px;
      //font-family: $barlow;
    }
    input,
    textarea {
      width: 85%;

      @include bp($menu_breakpoint) {
        //width: calc(100% - 15px);
        width: 100%;
      }
      padding: 15px;
      border: 1px solid $color--primary;
      //border-radius: 5px;
    }
    margin-bottom: 20px;

    input[type='checkbox'] {
      width: auto;
    }
  }
}
.js-form-item-ik-ga-akkoord-met-de-privacy-policy,
.js-form-item-field-gdpr-keep-data-value,
.js-form-item-gdpr-keep-data {
  display: flex;
  align-items: center;
  label {
    margin-left: 10px;
    margin-bottom: 0 !important;
  }
}
.webform-submission-form,
#contact-message-contact-form,
#block-webform-2 {
  @include container();
}

.webform-submission-form {
  @include flex(space-between);

  > div:nth-child(-n + 3) {
    width: 100%;
    @include bp($menu_breakpoint) {
      max-width: calc((100% / 2) - 60px);
    }
  }

  .form-actions {
    input[type='submit'] {
      padding: 12px 30px;
      font-size: 1.6rem;
    }
  }
}
