/**
  * Set config variables such as fonts, colors, ...
  */

$font: 'Inter', sans-serif;
$font-size: 1.6rem;

$color--primary: #e00034;
$color--grey: #efefef;

$menu_breakpoint: 768px;
$container_width: 1440px;
$footer_height: 89px;

/* BREAKYPOINTS */
$tablet-portrait: $menu_breakpoint;
$tablet-landscape: 1024px;
$desktop: 1280px;
$big-desktop: 1800px;
