/**
  * Mixins
  */
/****************
*    BUTTON
*****************/
@mixin btn() {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid $color--primary;
  padding: 1rem 2rem;
  color: white;
  @include animate;
  background-color: $color--primary;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 0px;

  &:hover,
  &:focus,
  &:active {
    color: $color--primary;
    text-decoration: none;
    background-color: transparent;
  }
}

/****************
*     MARGINS & PADDINGS
*****************/

@mixin m($val) {
  margin: $val rem;
}

@mixin my($val) {
  margin-top: $val;
  margin-bottom: $val;
}

@mixin mx($val: auto) {
  margin-left: $val;
  margin-right: $val;
}

@mixin mt($val) {
  margin-top: $val;
}

@mixin mb($val) {
  margin-bottom: $val;
}

@mixin ml($val) {
  margin-left: $val;
}

@mixin mr($val) {
  margin-right: $val;
}

@mixin p($val) {
  padding: $val;
}

@mixin py($val) {
  padding-top: $val;
  padding-bottom: $val;
}

@mixin px($val: auto) {
  padding-left: $val;
  padding-right: $val;
}

@mixin pt($val) {
  padding-top: $val;
}

@mixin pb($val) {
  padding-bottom: $val;
}

@mixin pl($val) {
  padding-left: $val;
}

@mixin pr($val) {
  padding-right: $val;
}

/****************
*   STRUCTUUR
*****************/
@mixin container($max_width: $container_width, $width: 95%) {
  clear: both;
  width: $width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: $max_width;
}

/* FLEX */
@mixin flex(
  $justify-content: flex-start,
  $align-items: flex-start,
  $wrap: wrap
) {
  display: -webkit-flex;
  display: flex;
  flex-wrap: $wrap;

  // Vertical alignment
  align-items: $align-items;

  // Horizontal alignment
  @if $justify-content != flex-start {
    justify-content: $justify-content;
  }
}

@mixin fixed(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: $right,
  $zIndex: 0
) {
  @if $top != auto {
    top: $top;
  }
  @if $left != auto {
    left: $left;
  }
  @if $right != auto {
    right: $right;
  }
  @if $bottom != auto {
    bottom: $bottom;
  }
  @if $zIndex != 0 {
    z-index: $zIndex;
  }
  position: fixed;
}

/****************
*   BREAKPOINT
*****************/
@mixin bp($point, $max: false) {
  @include breakpoint($point, $max) {
    @content;
  }
}
@mixin breakpoint($point, $max: false) {
  @if $max == true {
    @media (max-width: $point) {
      @content;
    }
  } @else {
    @media (min-width: $point) {
      @content;
    }
  }
}

/****************
*   ICONS 
*****************/
@mixin material-icon() {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* CUSTOM ICON */
@mixin svg-icon($iconUrl, $width: 20px, $height: $width, $onlyIcon: true) {
  $iconUrlPath: '../images/' + $iconUrl + '.svg';

  position: relative;
  display: block;

  @if $onlyIcon {
    text-indent: -9999em;
    overflow: hidden;
  }

  @include animate();

  &:before {
    content: '';
    display: inline-block;

    -webkit-mask: url($iconUrlPath) no-repeat 50% 50%;
    mask: url($iconUrlPath) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;

    width: $width;
    height: $height;
    background-color: $color--primary;
    @if $onlyIcon {
      text-indent: 0em;
      @include absolute(0, auto, auto, 0);
    }
  }
  &:hover:before {
    background-color: black !important;
  }
}

/****************
*   TYPOGRAPHY
*****************/

/****************
*   OVERLAY
*****************/
@mixin overlay($top: 0, $right: 0, $bottom: $top, $left: $right, $zIndex: 1) {
  @include absolute($top, $right, $bottom, $left, $zIndex);
}

@mixin absolute(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $zIndex: 0
) {
  @if $top != auto {
    top: $top;
  }
  @if $left != auto {
    left: $left;
  }
  @if $right != auto {
    right: $right;
  }
  @if $bottom != auto {
    bottom: $bottom;
  }
  @if $zIndex != 0 {
    z-index: $zIndex;
  }
  position: absolute;
}

/****************
*   ANIMATIE
*****************/
@mixin transition($value) {
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}

@mixin animate($value: all 0.3s ease-out) {
  @include transition($value);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

// @mixin animation-state($value){
//   -webkit-animation-play-state: #{$value};
//   -moz-animation-play-state: #{$value};
//   -o-animation-play-state: #{$value};
//   animation-play-state: #{$value};
// }
// @mixin animation-keyframes($duration: 5s, $repeat: infinite, $animation-name: unique-id()) {
//   -webkit-animation: $animation-name $duration $repeat;
//   animation: $animation-name $duration $repeat;

//   @keyframes #{$animation-name} {
//     @content;
//   }
// }

// @mixin animation($value) {
//   -webkit-animation: #{$value}; // Chrome, Safari //
//   animation: #{$value}; // IE >9, Fx >15, Op >12.0 //
// }
// @mixin keyframes($animationName) {
//   @-webkit-keyframes #{$animationName} {
//     @content;
//   }
//   @-moz-keyframes #{$animationName} {
//     @content;
//   }
//   @-o-keyframes #{$animationName} {
//     @content;
//   }
//   @keyframes #{$animationName} {
//     @content;
//   }
// }
