/**
  * Set config variables such as fonts, colors, ...
  */

$font: 'Archivo', sans-serif;
$font-size: 1.6rem;

$color--primary: #2def65;
$color--grey: #efefef;

$menu_breakpoint: 768px;
$container_width: 1440px;
$wide_width: 1600px;
$footer_height: 635px;

/* BREAKYPOINTS */
$tablet-portrait: $menu_breakpoint;
$tablet-landscape: 1024px;
$desktop: 1280px;
$big-desktop: 1800px;
