/**
  * Base reset for our standard drupal elements
  */
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout-content {
  display: block;
  width: 100%;
  max-width: 100%;
}

.tabs {
  clear: both;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1440px;
  .tabs--primary {
    padding: 0px;
    margin: 80px auto 20px;
    border-bottom: 1px solid #e0e0e0;
    ul {
      clear: both;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      position: relative;
      max-width: 1440px;
      margin-bottom: 0;
      li {
        margin-left: 0;
        margin-right: 5px;
        list-style: none;
        display: inline-block;
        &:last-of-type {
          margin-right: 0;
        }
        &.active a {
          border-color: #272727;
        }
        a {
          padding: 8px 12px;
          border: 1px solid transparent;
          border-bottom: none;
          border-radius: 5px 5px 0 0;
          display: block;
          color: black;
          border-color: #e0e0e0;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
