/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
.wp-block-example-example-block {
  display: flex;
  flex-direction: row;
}

.wp-block-example-example-block .column {
  flex: 1;
}

.wp-block-example-example-block .icon {
  text-align: center;
}

.wp-block-example-example-block .icon svg {
  width: 120px;
  height: 120px;
}

.wp-block-example-dynamic-block {
  background-color: #0f0;
  border: 2px solid #f00;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.wp-block-creablocks-creathing-billboard .billboard-content {
  padding: 1em 2em;
  width: 50%;
  max-width: 50%;
}

.wp-block-creablocks-creathing-billboard.align-content-left .billboard-content {
  margin-right: auto;
}

.wp-block-creablocks-creathing-billboard.align-content-center .billboard-content {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-creablocks-creathing-billboard.align-content-right .billboard-content {
  margin-left: auto;
}

.has-black-background-color {
  background-color: #000000;
}

.has-black-background-color * {
  color: white;
}

.has-pink-background-color {
  background-color: #ff5454;
}

.has-pink-background-color * {
  color: white;
}

.has-purple-background-color {
  background-color: #522db2;
}

.has-purple-background-color * {
  color: white;
}

.has-green-background-color {
  background-color: #3dbb3a;
}

.has-green-background-color * {
  color: white;
}

/*# sourceMappingURL=style.css.map */