///////////////////////////
// EU COOKIE COMPLIANCE //
/////////////////////////
.eu-cookie-compliance-content {
  width: 90%;
  max-width: $container_width;
}

.eu-cookie-compliance-message {
  margin-top: 1rem;
  max-width: 80%;
  font-size: 1.2rem;

  float: none;
  clear: both;

  @include bp(600px) {
    float: left;
    clear: none;
  }

  h2 {
    font-size: 1.8rem;
  }
  p {
    font: inherit;
    font-size: inherit;
    margin: 1.25em 0 0 0;
    display: inline-block;

    &:first-of-type {
      margin-top: 0px;
    }
  }
}

.eu-cookie-compliance-buttons {
  margin: 0;
  width: 100%;
  float: none;

  .agree-button,
  .decline-button {
    border: none;
    color: white;
    font: inherit;
    font-weight: 400;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    font-size: 1.2rem !important;
    width: 100%;
  }
  .agree-button,
  .eu-cookie-withdraw-button {
    @include btn;
    color: black;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    background-color: white;
    border-color: transparent;

    &:hover {
      color: white;
      border-color: white;
      background-color: transparent;
    }
  }
}

.eu-cookie-compliance-category {
  margin-bottom: 10px;

  label {
    font-size: 1.5rem;
  }
}

// Themed
div#sliding-popup {
  background-color: rgba(black, 0.85);
  width: 90%;
  max-width: 280px;
  left: 10px;
  padding: 30px 15px 30px;

  &.eu-cookie-withdraw-wrapper {
    border-top-left-radius: 0px;
    background: rgba(black, 0.85);
  }

  .eu-cookie-withdraw-banner {
    background: transparent;
    padding-bottom: 15px;
  }

  @include bp(600px) {
    left: 20px;
  }

  .eu-cookie-compliance-message,
  .eu-cookie-compliance-buttons {
    max-width: 100%;
  }
  .eu-cookie-withdraw-tab {
    left: -2px;
    padding: 5px 15px;
    transform: translateY(-32px);
    background-color: rgba(black, 0.85);
  }
}

.eu-cookie-compliance-categories-buttons {
  width: 100%;
  max-width: 70%;
  margin: 20px 0;

  button {
    color: white;
    background: transparent !important;
    text-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-decoration: underline;
  }
  &:hover button {
    text-decoration: none;
  }
}

.eu-cookie-compliance-buttons.eu-cookie-compliance-has-categories {
  float: none !important;
}
