.field--name-field-aaa {
  .field__item {
    > * {
      @include container();
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .full-width {
      max-width: 100vw;
      width: 100%;
    }
    > .alignfull {
      max-width: 100vw;
      width: 100%;
      > div {
        @include container();
      }

      > .alignwide {
        @include container(1920px);
      }
      > .alignfull {
        max-width: none;
      }
    }

    .wp-block-column ul {
      padding: 0;

      li {
        margin-left: 20px;
      }
    }
  }
}

/*************************
*     block-group
**************************/
.wp-block-group {
  @include container();
  &.alignwide {
    @include container($wide_width);
  }
  &.alignfull {
    max-width: 100vw;
    width: 100%;
  }
}

/********************
*       QUOTE
*********************/
.wp-block-quote {
  border: none;

  /*
  background-color: $color--primary;
  position: relative;
  border-radius: 5px;
  padding: 50px 0;
  margin-bottom: 0;

  p {
    font-size: 1.8rem;
    font-style: italic;
    padding: 0 50px;
    color: $color--secondary;
  }

  cite {
    padding: 0 50px;
    color: $color--secondary;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 1px;
      background: $color--secondary;
      margin-right: 10px;
      position: relative;
      top: -4px;
    }
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;

    background: url('../images/icon-quote.svg') no-repeat;
    background-size: 32px;

    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    transform: rotate(180deg);
  }

  &:before {
    left: 15px;
  }

  &:after {
    transform: rotate(0deg);
    top: auto;
    right: 15px;
    bottom: 5px;
  }*/
}

/********************
*       FAQ
*********************/
.wp-block-creablocks-creathing-faq {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  h4 {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em 1.25em;
    margin: 0;
    font-size: 1.1em;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    &::after {
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;
      margin-left: auto;
      content: '';
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 1.25rem;
      transition: transform 0.2s ease-in-out;
    }
  }
  .faq-answer {
    display: none;
    padding: 1em 1.25em;
    margin-top: 0;
    p:first-of-type {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  &.show {
    h4 {
      color: white;
      background-color: $color--primary;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-180deg);
      }
    }
    .faq-answer {
      display: block;
    }
  }
}

/********************
*       BILLBOARD
*********************/
.wp-block-creablocks-creathing-billboard {
  .billboard-image {
    line-height: 0;
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .billboard-content {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  &.align-content-left .billboard-content {
    left: 0;
  }
  &.align-content-center .billboard-content {
    left: 50%;
    transform: translateX(-50%);
  }
  &.align-content-right .billboard-content {
    right: 0;
  }
}

/********************
*       EMBED
*********************/
.wp-block-embed__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  iframe {
    width: 426px;
    height: 240px;

    @media (min-width: $tablet-portrait) {
      width: 640px;
      height: 360px;
    }

    @media (min-width: $tablet-landscape) {
      width: 854px;
      height: 480px;
    }

    @media (min-width: $desktop) {
      width: 854px;
      height: 480px;
    }
  }
}
