.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 2.4rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* CUSTOM ICONS */
.social-links {
  padding: 0;
  margin: 0;
  li {
    width: 25px;
    margin-right: 15px;
    text-align: left;
    display: inline-block;
  }
  a {
    text-decoration: none;
    background-color: white;
    width: 36px;
    height: 36px;

    border-radius: 100%;

    &:hover:before {
      background-color: white;
      text-decoration: none;
    }
  }
}

.icon {
}

.icon.linkedin {
  @include svg-icon('icon-linkedin-in', 20px);
  &::before {
    top: 7px;
    left: 8px;
  }
}

.icon.facebook {
  @include svg-icon('icon-facebook-f', 30px);
  &::before {
    top: 6px;
    left: 2px;
  }
}

.icon.instagram {
  @include svg-icon('icon-instagram', 20px);
  &::before {
    top: 8px;
    left: 8px;
  }
}

.icon.youtube {
  @include svg-icon('icon-youtube', 28px, 19px);
  &::before {
    top: 8px;
    left: 5px;
  }
}
