.highlighted {
  @include container();
  left: 0;
  right: 0;
}
.alert {
  margin-top: 20px;
  opacity: 0.75;
  color: inherit;
  position: relative;

  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  h4 {
    font-family: $font;
    font-weight: bold;
    margin-top: 0;
    color: inherit;
  }

  &-link {
    font-weight: bold;
  }
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
  &-dismissable,
  &-dismissible {
    padding-right: 35px;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      color: inherit;

      border: none;
      background-color: transparent;
      font-size: 3rem;
      cursor: pointer;
    }
  }
  &-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;

    hr {
      border-top-color: #c9e2b3;
    }
    a,
    .alert-link {
      color: #2b542c;
    }
  }
  &-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;

    hr {
      border-top-color: #a6e1ec;
    }
    .alert-link {
      color: #245269;
    }
  }
  &-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;

    hr {
      border-top-color: #f7e1b5;
    }
    .alert-link {
      color: #66512c;
    }
  }
  &-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

    hr {
      border-top-color: #e4b9c0;
    }
    .alert-link {
      color: #843534;
    }
  }
}
